body {
    padding: 0;
    margin: 0;
    background-color: beige;
    font-family: 'Inter', sans-serif;
}

:root {
--dark: #363636;
}

.hero1 {
    height: 100vh;
    background: linear-gradient(45deg, rgb(255, 211, 170), beige)
}

nav {
    .nav-item {
        font-weight: bold;
        font-size: larger;
    }
}

nav:after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -4px;

    background: linear-gradient(to right, black, gray);
}
