:root {
    --dark: #5d5d5d;
    --gold: rgba(179, 157, 70, 1);
    --Lbeige: #F3EBDC;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--Lbeige);
    color: #1C1C1C;
    overflow-x: hidden !important;
}

/*components*/

section {
    min-height: 100vh;
    padding: 20px;
    position: relative;
}

.header {
    font-size: clamp(12px, 9vw, 50px);
}

/*animaties*/

.scale-animation.show {
    transform: scale(1);
    animation: scaleIn 0.6s ease-out forwards;
}

.slide-left-animation {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
    transform: translateX(-80%);
}

.slide-left-animation.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.slide-right-animation {
    opacity: 0;
    filter: blur(2px);
    transition: all 0.8s;
    transform: translateX(80%);
}

.slide-right-animation.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

@keyframes scaleIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/*navbar*/

.navbar .navbar-nav {
    gap: 0.5rem;
}

.navbar {
    background-color: var(--Lbeige);
    transition: all 0.3s;

}

.nav-link {
    font-size: larger;
    font-weight: bold;
    position: relative;
    top: 0;
}

.nav-link:hover {
    top: -4px;
    transition: all 0.3s;
}


.navbar::after {
    content: '';
    background: linear-gradient(to right, black, gray);
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -4px;
}

.navbar.scrolled {
    background-color: beige;
    box-shadow: 0 15px 16px rgba(0, 0, 0, 0.1);
}


.btn-gold {
    background-color: #C9A24D;
    color: #1C1C1C;
    border: none;
    font-size: larger;
    font-weight: 600;
    padding: .45rem 10px;
    border-radius: .35rem;
    width: 150px;
}

.btn-gold:hover {
    background-color: #A88734;
    color: #1C1C1C;
}

/*hero1*/

.hero1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('images/NielsMauto.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
}

.hero-tekst-container {
    padding: 20px;
    position: relative;
    z-index: 1;

    h1 {
        font-weight: bolder;
        font-size: clamp(30px, 12vw, 80px);
    }
}

.hero-sub-tekst {
    font-size: clamp(15px, 3vw, 20px);
}

.darkoverlay-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C1C1C;
    opacity: 0.9;
}

.hero-crown-title {
    width: clamp(120px, 40vw, 250px);
    position: relative;
    top: 20px;
}

/*tarieven sectie*/

.tarieven-section {

}

.tarieven-section:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 4px;
    left: 0;
    background: linear-gradient(to right, black, gray);
}

/*pagina*/

.tekstgroep {
    width: 400px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid var(--gold);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.groep1 {
    position: relative;
    left: -200px;
}

.groep2 {
    position: relative;
    left: 200px;
}

.groep3 {
    position: relative;
    left: -200px;
}

/*media*/
@media (max-width: 990px) {

    /* optional: reduce logo size on small screens */
    .navbar-brand img {
        width: 140px;
        height: auto;
    }

    .hero1 {
        background-position: right bottom;
    }

    .groep1 {
        left: -100px;
    }

    .groep2 {
        left: 100px;
    }

    .groep3 {
        left: -100px;
    }
}

@media (max-width: 700px) {

    .groep1 {
        left: -50px;
    }

    .groep2 {
        left: 50px;
    }

    .groep3 {
        left: -50px;
    }
}

@media (max-width: 530px) {

    .groep1 {
        left: 0px;
        width: 300px;
    }

    .groep2 {
        left: 0px;
        width: 300px;
    }

    .groep3 {
        left: 0px;
        width: 300px;
    }
}

@media (max-width: 350px) {

    .groep1 {
        width: 250px;
    }

    .groep2 {
        width: 250px;
    }

    .groep3 {
        width: 250px;
    }
}
